@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-titulo: "Calistoga", serif;
  --font-corpo: "Raleway", sans-serif;
  --cor-header: #4650bd;
  --cor-texto: #fff;
  --color-footer: #455dbb;
}
